<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=utf-8">
            <style>
                table, th, td {
                  border: 1px solid black;
                  border-collapse: collapse;
                }
                </style>
                <style>
                    body {
                      background:{{Werte.bgColor}}
                    }
                </style>
    </head>
    <body>

        <div>
            <div>
                <a href="#0.1_">
                <strong>Service Management WS2022: Matthew Esosa IGBINEHI</strong>
                </a>
            </div>
        </div>
	<div>
              <div>
                  <div>
                      <div>
                          <div>
                              <div>
                              </div>
                              <div>
                                  <div>
                                      <table style="width:50%">
                                        <tr style="text-align:center; font-weight: bold">
                                          <th colspan="2" style="background:#13470f;color:#ffffff;"><b>Miniwhoami</b></th>
                                        </tr>
                                        <tr>
                                          <td>Hostname</td>
                                          <td>{{ Werte.hostname }}</td>
                                        </tr>
                                        <tr>
                                            <td>IPv4 Address</td>
                                            <td>{{Werte.IP4}}</td>
                                          </tr>
                                          <tr>
                                            <td>IPv6 Address</td>
                                            <td>{{Werte.IP6}}</td>
                                          </tr>
                                          <tr>
                                            <td>No. of Access</td>
                                            <td>{{Werte.hitnumber}}</td>
                                          </tr>
                                      </table>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
    </body>
</html>
